<app-navbar></app-navbar><br>

<div class="container">
  <div class="row">
    <div class="offset-sm-1 col-sm-3">
      <input type="text" class="form-control" placeholder="Date">
    </div>
    <div class="col-sm-4"> 
      <input type="text" class="form-control" placeholder="Description..." > 
      <!-- style="height: 150px;" -->
    </div>
    <div class="col-sm-3">
      <button class="btn btn-primary form-control">Update</button>
    </div>
  </div><br>

</div>
    <div class="main">
      <table class="table">
  
        <thead>
          <tr>
            <td><strong>S.No</strong></td>
            <td><strong>Date</strong></td>
            <td><strong>Description</strong></td>
          </tr>
  
        </thead>
  
        <tbody>
  
          <tr>
            <td>1</td>
            <td>Date-Month-Year</td>
            <td></td>
          </tr>
  
        </tbody>

         </table>
    </div>
