<app-navbar></app-navbar><br>


<div class="container">
    <div class="col-sm-12">
      <div class="form-group col-sm-5">
        <select name="department" class="form-control">
          <option value="Developing">Developing</option>
          <option value="Testing">Testing</option>
          <option value="Service">Service</option>
          <option value="Editing">Editing</option>
        </select>
      </div>
      <div class="form-group col-sm-5">
        <button type="submit" class="btn btn-info form-control">Edit</button>
      </div>
    </div>
  </div>
  
  <div class="offset-sm-0 col-sm-12 mt-3">
  
    <table class="table">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Employee ID</th>
          <th>Employee Name</th>
          <th>Designation</th>
          <th>Date of Joining</th>
          <th>Mobile</th>
          <th>email-id</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>