<app-navbar></app-navbar><br>

<div class="container">
    <div class="main">
      <div class="col-md-12">
        <div class="row">
          <div class="offset-md-1 col-md-6 text-center">
            <form id="signup">
              <div class="form-group ">
                Employee ID<input type="text" id="companyname" class="form-control">
              </div>
              <div class="form-group ">
                Name<input type="text" id="companyname" class="form-control">
              </div>
              <div class="form-group ">
                Designation<input type="text" id="companyname" class="form-control">
              </div>
              <div class="form-group ">
                Branch<input type="text" id="companyname" class="form-control">
              </div>
              <div class="form-group ">
                Department<input type="text" id="companyname" class="form-control">
              </div>
              <div class="form-group ">
                Shift<input type="text" id="companyname" class="form-control">
              </div>
              <div class="form-group ">
                Address<input type="text" id="companyname" class="form-control">
              </div>
              <div class="form-group ">
                E-Mail<input type="text" id="companyname" class="form-control">
              </div>
              <div class="form-group">
                Mobile Number 1<input type="number" id="companyname" class="form-control">
              </div>
              <div class="form-group">
                Mobile Number 2<input type="number" id="companyname" class="form-control">
              </div>
              <div class="form-group ">
                Landline<input type="number" id="companyname" class="form-control">
              </div>
              <div class="form-group ">
                DoB<input type="text" id="companyname" class="form-control">
              </div>
              <div class="form-group ">
                Medical Issue<input type="text" id="companyname" class="form-control">
              </div>
  
            </form>
          </div>
          <div class="offset-md-1 col-md-6 text-center">
            <form>
              <div class="form-group ">
                Blood Group<input type="text" id="companyname" class="form-control">
              </div>
              <div class="form-group ">
                CTC Per Annum<input type="text" id="companyname" class="form-control">
              </div>
              <div class="form-group ">
                Per Month<input type="text" id="companyname" class="form-control">
              </div>
              <div class="form-group ">
                Basic<input type="text" id="companyname" class="form-control">
              </div>
              <div class="form-group ">
                HRA<input type="text" id="companyname" class="form-control">
              </div>
              <div class="form-group ">
                DA<input type="text" id="companyname" class="form-control">
              </div>
              <div class="form-group ">
                CTC AM<input type="text" id="companyname" class="form-control">
              </div>
              <div class="form-group ">
                Load<input type="text" id="companyname" class="form-control">
              </div>
              <div class="form-group ">
                Pt<input type="text" id="companyname" class="form-control">
              </div>
              <div class="form-group ">
                It<input type="text" id="companyname" class="form-control">
              </div>
              <div class="form-group ">
                Others<input type="text" id="companyname" class="form-control">
              </div>
              <div class="form-group ">
                Total Salary<input type="text" id="companyname" class="form-control">
              </div>
              <div class="form-group ">
                Net Salary<input type="text" id="companyname" class="form-control">
              </div>
            </form>
          </div>
          <div class="form-group container col-md-12 text-center">
            <strong>Other remarks</strong><input type="text" id="companyname" class="form-control">
          </div>
          <div class="form-group container col-md-12">
            <br> <button  type="submit" class="btn btn-primary text-center form-control">Add</button>  
          </div>
        </div>
      </div>
    </div>
  </div>