<app-navbar></app-navbar>

<div class="offset-sm-0 col-sm-12 text-center mt-5 row">
    <div class="col-sm-3">
      <label>Branch:</label>
      <select class="form-control">
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
      </select>
    </div>
  
    <div class="col-sm-3">
      <label>Department:</label>
  
      <select class="form-control">
  
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
      </select>
    </div>
  
    <div class="col-sm-3">
      <label>Month:</label>
  
      <select class="form-control">
  
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
      </select>
    </div>
  
    <div class="col-sm-3">
      <label>Year:</label>
  
      <select class="form-control">
  
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
      </select>
    </div><br>
  </div><br>
  <div class="text-center">
      <button class="btn btn-warning">Submit</button>
  </div><br>
  <table class="table">
    <tr>
  
      <th>S.No</th>
      <th>Emp Id</th>
      <th>Name</th>
      <th>Day 1</th>
      <th>Day 2</th>
      <th>Day 3</th>
      <th>Day 4</th>
      <th>Day 5</th>
      <th>Day 6</th>
      <th>Day 7</th>
  
    </tr>
  
    <tr>
      <td>1</td>
      <td></td>
      <td></td>
      <td>login:<br>logout:<br>status:<br>remark:</td>
  
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
  
    </tr>
  
    <tr>
  
      <td>2</td>
  
      <td></td>
  
      <td></td>
  
  
  
      <td>login:<br>logout:<br>status<br>remark:</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  
    <tr>
  
      <td> 3</td>
  
      <td></td>
  
      <td></td>
  
      <td>login:<br>logout:<br>status<br>remark:</td>
  
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  
    <tr>
  
      <td> 4</td>
  
      <td></td>
      <td></td>
  
  
      <td>login:<br>logout:<br>status<br>remark:</td>
  
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  
    <tr>
  
      <td> 5</td>
  
      <td></td>
      <td></td>
  
  
  
      <td>login:<br>logout:<br>status:<br>remark:</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  
  
  
  </table>
  