<app-navbar></app-navbar>

<div class=" offset-sm-0 col-sm-12">

    <div class="main">
      <table class="table">
  
        <thead>
  
          <tr>
  
            <td><strong>S.No</strong></td>
  
            <td><strong>Emp ID</strong></td>
  
            <td><strong>Name</strong></td>
  
            <td><strong>Time in</strong></td>
  
            <td><strong>Time out</strong></td>
  
            <td><strong>Status</strong></td>
  
            <td><strong>Remarks</strong></td>
  
  
  
          </tr>
  
        </thead>
  
        <tbody>
  
          <tr>
  
            <td></td>
  
            <td></td>
  
            <td></td>
  
            <td></td>
  
            <td></td>
  
            <td></td>
  
            <td></td>
  
  
          </tr>
  
        </tbody>
  
      </table>
    </div>
  </div>